@charset "UTF-8";

/* Todas as Demais Mídias */

/* Typical device break points 
------------------------------
    Mobile: 360 x 640
    Mobile: 375 x 667
    Mobile: 360 x 720
    iPhone X: 375 x 812
    Pixel 2: 411 x 731
    Tablet: 768 x 1024
    Laptop: 1366 x 768
    High-res laptop or desktop: 1920 x 1080
------------------------------
    Pequenasa telas: aé 600px
    Celular: de 600px ate 768px
    Tablet: de 768px ate 992px
    PC: 992px ate 1200px
    Telas grandes: acima de 1200px
----------------------------
*/

/*configurações para celulares -> como ja foi feito sendo mobile first, essa parte é desnecessária 
    @media screen and (max-width: 600px){}
    @media screen and (min-width:600px) and (max-width:768px) {} */


@media print{}

@media screen and (min-width:768px) and (max-width:992px) {
    
}

@media screen and (min-width:992px) and (max-width:1200px) {
    
}

@media screen and (min-width:1200px) {
    
}